@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Varela+Round&family=Viaoda+Libre&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:-webkit-linear-gradient(left,#7579ff, #b224ef);
    background-size: cover;
}

header
{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Gill Sans;
    font-weight:500;
    letter-spacing: 1px;
    border-radius:5px;
    padding: 8px 10px;
    color: #31344b;
    background-color: #e6e7ee;
    box-shadow: 2px 2px 4px #b8b9be, -2px -2px 4px #fff;
}
header .nav a
{
    color:white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 4px 15px;
    font-family: 'Viaoda Libre', cursive;
    border-radius: 2px; 
}

header .nav a:not(:last-child)
{
   margin-right: 5px;
}

.nav a:hover{
    color: #31344b;
    background-color: #e6e7ee;
    box-shadow: 2px 2px 4px #b8b9be, -2px -2px 4px #fff;
    border-radius: 4px; 
    transition: 0.5s;
}
    
label
{
   display: none;
}

#check{
    z-index: 3;
    display: none;
}
.media
{
    display: none;
}
.name
{
    display: none;
}
@media (max-width:960px)
{
header .nav
{
 display: none;
}

.nav a:hover{
    color: #31344b;
    background-color: #e6e7ee;
    box-shadow: 2px 2px 4px #b8b9be, -2px -2px 4px #fff;
    border-radius: 2px; 
    transition: 0.5s;
}
label
{
    display:block;
    color: white;
    font-size: 100px;
    cursor: pointer;
    transition: 0.2s;
    transition-property: color;
}

label:hover
{
    color: white;
}

label .close
{
    display: none;
}

#check:checked ~ header .nav
{
       z-index: 2;
       position: fixed;
       background: rgba(31, 31, 31, 0.4);
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}

#check:checked ~ header .nav a
{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

#check:checked ~ header label .menu
{
    display: none;
}

#check:checked ~ header label .close
{
     z-index: 2;
     display: block;
     position: fixed;
     color: #31344b;
     background-color: #e6e7ee;
}

label .menu
{
    position: absolute;
    color: #31344b;
    background-color: #e6e7ee;
    
}

header .logo
{
      font-family: Gill Sans;
      position: absolute;
      font-size: 10px;
      padding: 4px 5px;
      font-weight:400;
}
.media
{    
     letter-spacing: 40px;
     display: block;
}
.icon
{    
    color: rgb(0, 0, 0);
    background-color: #fff;
    box-shadow: -1px -1px 2px 3px #fff;
    border-radius: 4px;
    cursor: pointer; 
}
.name
{   
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
    margin-top: 35px;
    letter-spacing: 2px;
}
}